body {
  background-color: #fafafa;
}

textarea {
  resize: none;
}

ul li {
  text-decoration: none;
}

li {
  word-wrap: break-word;
}

body * {
  display: block;
}

title {
  display: none;
}

/* LEFT MENU */
.left_menu {
  background-color: #6098f2;
  border: solid 10px #3169c4;
  position: fixed;
  left: 0px;
  height: 100vh;
  width: 25%;
  float: left;
}

.left_menu ul li {
  font-size: 1.5em;
  color: #fff;
}

/* ITEMS */
.to_do_items {
  border-top: solid 10px #3169c4;
  border-right: solid 10px #3169c4;
  border-right: solid 10px #3169c4;
  padding: 0;
  float: right;
  height: 75vh;
  width: 75%;
}

.item {
  padding: 10px 50px;
  font-size: 1.5em;
}

.low {
  background: #7FF27B;
}

.medium {
  background: #F9EE08;
}

.high {
  background: #F9960C;
}

.urgent {
  background: rgba(226, 0, 0, 1);
}

.date-priority {
  display: inline;
  float: right;
}


/* MAIN OPTION FORM MENU*/
.option_menu {
  background-color: #aaa;
  position: fixed;
  bottom: 0px;
  right: 0px;
  height: 25vh;
  width: 75%;
}

.form_left {
  width: 70%;
  float: left;
  height: 100%;
  border: solid 10px #3169c4;
  border-left: none;
  background-color: #6098f2;
}

.form_right {
  width: 30%;
  height: 100%;
  float: right;
  border: solid 10px #3169c4;
  border-left: none;
  background-color: #6098f2;
}

.form_items {
  width: 60%;
  margin: 20px auto;
}

.form_items * {
  margin: 5px auto;
  width: 90%;
  text-align: center;
}



.width_30 {
  width: 30%;
}

.width_25 {
  width: 25%;
}

.width_70 {
  width: 70%;
}

.no_border {
  border: none;
}