{% extends "base.html" %}

{% block content %}
<ul class = "to_do_items">
	{% with messages = get_flashed_messages() %}
		{% if messages %}
			{% for message in messages %}
				<li class = "btn btn-danger width_100">{{ message }}</li>
			{% endfor %}
		{% endif %}
	{% endwith %}
	{% if list_name != "unselected" %}
	{% for item in data %}
	<li class = "item {{ item['priority'][1:] }}">{{ item["content"] }} <span class = "date-priority">{{ item["date"] }} {{ item["priority"][1:].title() }}</span></li>
	{% endfor %}
	{% endif %}
</ul>

<div class = "left_menu">
	<ul class = "lists">
		{% for list in lists %}
			<li><a href = "/index/{{ list }}">{{ list.title() }}</a></li>
		{% endfor %}
	</ul>

	<div class = "list_menu">
		<form id = "add_list" action = "{{ url_for('add_list', list_name = list_name) }}" method = "POST">
			<label for = "list_name">List name</label>
			<input type = "text" id = "list_name" name = "list_name">
			<input type = "submit" value = "Add">
		</form>

		<form id = "remove_list" action = "{{ url_for('remove_list', list_name = list_name) }}" method = "POST">
			<label for = "list_index">List index</label>
			<input type = "number" id = "list_index" name = "list_index">
			<input type = "submit" value = "Remove">
		</form>
	</div>

</div>

<div class = "option_menu">
	<div class = "form_left">
		<form id = "add_item" action = "{{ url_for('save', list_name = list_name) }}" method = "POST">
			{% if list_name != "unselected" %}
			<div class = "form_items form_left width_25 no_border">
				<label for = "date">Due Date</label>
				<input type = "date" id = "date" name = "date">
				<label for = "priority">Priority</label>
				<select name = "priority" id = "priority">
					<option value = "1low">Low</option>
					<option value = "2medium">Medium</option>
					<option value = "3high">High</option>
					<option value = "4urgent">Urgent</option>
				</select>
			</div>

			<div class = "form_items form_right width_70 no_border">
				<label for = "content">Create new To-Do</label>
				<textarea type = "text" id = "content" name = "content" form = "add_item" rows = "4" cols = "50" autofocus></textarea>
				<input type = "submit" value = "Submit">
			</div>
			{% endif %}
		</form>
	</div>

	<div class = "form_right">
		{% if list_name != "unselected" %}
		<form id = "delete_all" action = "{{ url_for('delete_all', list_name = list_name) }}" method = "POST">
			<div class = "form_items">
				<input type = "submit" value = "Delete All Items">
			</div>
		</form>

		<form id = "delete_item" action = "{{ url_for('delete_item', list_name = list_name) }}" method = "POST">
			<div class = "form_items">
				<input type = "number" name = "index">
				<input type = "submit" value = "Delete Item">
			</div>
		</form>
		{% endif %}
	</div>
</div>

{% endblock %}